#hbox{
    -fx-background-color: black;
}
#ib{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#sb{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#bb{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#qb{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#mb{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#bsb{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#lsb{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}
#back{
    -fx-background-color: tan;
    -fx-font-family: "lucida console";
    -fx-font-size: 13;
}